apt-utils
bash-completion
build-essential
curl
curl
curl
debian-archive-keyring
debian-keyring
dnsutils
evtest
fswebcam
gdb
git
gnupg2
gpg-agent
htop
iputils-ping
joystick
jq
jstest-gtk
less
libraspberrypi-bin
locales
lsb-release
lsof
man-db
mercurial
nano
nano
net-tools
openssh-server
python3
python3-pip
python3-setuptools
ros-jazzy-nav2-bringup
ros-jazzy-nav2-common
software-properties-common
sudo
tar
tmux
tree
unzip
v4l-utils
vim
wget
xterm
zip
